header {
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  background-color: white;
  z-index: 1;
  position: fixed;
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
}

nav {
  display: inline-block;
  padding: 20px;
}

.logo span {
  padding-left: 10px;
  color: mediumaquamarine;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

a:hover {
  color: mediumaquamarine;
}

a:link, a:visited {
  padding: 10px;
  color: black;
}

p {
  border: 1px solid black;
}
