header {
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  background-color: white;
  z-index: 1;
  position: fixed;
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
}

nav {
  display: inline-block;
  padding: 20px;
}

.logo span {
  padding-left: 10px;
  color: mediumaquamarine;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

a:link, a:visited {
  padding: 10px;
  color: black;
}

a:hover {
  color: mediumAquamarine;
}

p {

}

div {
  border: 1px solid black; /* DELETE THIS BORDER!! */
}

.container {
  display: flex;
  padding-top: 110px;
}

.left {
  width: 630px;
}

.image-content {
  background-image: url('C:/Users/jason/Documents/Projects/mytimes/resources/images/img-story-main.png');
}
