header {
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  background-color: white;
  z-index: 10;
  position: fixed;
  display: flex;
  align-items: center;
  height: 90px;
  width: 100%;
  overflow: hidden;
}

body {
  margin: 0px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

nav {
  display: inline-block;
  padding: 20px;
}

.logo span {
  padding-left: 10px;
  color: mediumaquamarine;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

a:link, a:visited {
  padding: 10px;
  color: black;
}

a:hover {
  color: mediumAquamarine;
}

div {
  display: block;
}

.narrative {
  margin-top: 15px;
}

.stories {
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
}

.story {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.container {
  display: flex;
  padding-top: 110px;
  margin-left: 15px;
  position: relative;
  z-index: 0;
}

.left {
  display: flex;
  flex-direction: column;
  width: 630px;
  margin-right: 30px;
}

.middle {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-right: 30px;
}

.right {
  display: flex;
  flex-direction: column;
  width: 240px;
}

.image-content {
  display: flex;
  height: 300px;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png');
}

.image-content span {
  color: white;
  font-size: 40px;
  font-family: georgia;
  font-weight: bold;
}

.fall-img-content {
  display: flex;
  height: 300px;
  margin-top: 15px;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png');
}

.fall-img-content span {
  color: white;
  font-size: 30px;
  font-family: georgia;
  font-weight: bold;
  text-align: center;
}

.camera-img-content {
  display: flex;
  height: 300px;
  margin-top: 15px;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png');
}

.camera-img-content span {
  color: white;
  font-size: 30px;
  font-family: georgia;
  font-weight: bold;
  text-align: center;
}

.cats span {
  display: flex;
  color: white;
  font-size: 30px;
  font-family: georgia;
  font-weight: bold;
  text-align: center;
  height: 300px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
}

.news-bites .bite {
  display: flex;
  padding: 10px 20px;
  font-family: verdana;
  font-size: 12px;
  color: dimgray;
  background-color: whitesmoke;
  border-bottom: 1px solid black;
  flex-direction: column;
}

.news-bites h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 325px;
  background-color: mediumaquamarine;
  margin: auto;
}

footer nav {
  display: inline-block;
  padding-left: 25px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

footer .title {
  display: inline-block;
  padding-right: 25px;
  border-right: 2px solid white;
  font-family: georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.footer {
  display: flex;
  background-color: mediumaquamarine;
  flex-direction: column;
  margin: auto;
  height: 300px;
  width: 100%;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
  font-family: verdana;
  font-size: 12px;
}

.footer a:hover {
  color: white;
}
